d4rl/
.idea
__pycache__
*.egg-info
experiments/
outputs/
spirl/wandb/
Metaworld
eval_1.sh
eval_2.sh
eval_3.sh
eval_4.sh
eval_5.sh
eval_6.sh
just_eval.sh
test_prior_skill.ipynb
script
spirl/Custome_train.py
spirl/Custome_train2.py
spirl/distill_fed.py
spirl/FL_SPIRL_client.py
spirl/FL_SPIRL_client2.py
spirl/FL_SPIRL_client3.py
spirl/images.ipynb